name: markdown-style-check
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
jobs:
  lint-docs:
    name: Documentation Markdown Linter
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Lint all files
      uses: docker://avtodev/markdown-lint:v1.5
      with:
        config: './markdown-style-config.yml'
        args: './'
        ignore: './resources/guidelines/code/core/* ./resources/references/* ./adr/* ./'
