name: Update healthcheck

on:
  workflow_dispatch:
    inputs:
      owner:
        description: "Owner to checkout"
        required: true
        type: string
      repo:
        description: "Repo to checkout"
        required: true
        type: string
      check:
        description: "Check ID"
        required: true
        type: string
      conclusion:
        description: "Healthcheck conclusion"
        required: true
        type: string

jobs:

  update-healthcheck:
    uses: shopware/developer-portal/.github/workflows/update-healthcheck.yml@main
    with:
      owner: ${{ inputs.owner }}
      repo: ${{ inputs.repo }}
      check: ${{ inputs.check }}
      conclusion: ${{ inputs.conclusion }}
    secrets:
      TOKEN: ${{ secrets.DEV_HUB_PERSONAL_ACCESS_TOKEN }}